{% extends 'admin.html' %} {% block content %} 
<table class="table">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Banner</th>
      <th>Title</th>
      <th>Modify</th>
    </tr>
</thead>
 
{% for track in tracks %}
<tbody>
  <tr>
    <th scope="row">{{forloop.counter}}</th>
    <td>{{track.track_banner.name}}</td>
    <td>{{track.title}} </td>
    <td style="display:flex;gap:1vw;">
    <a href="{%url 'deletetrack' track.id %}"><button class="btn btn-danger">Delete</button></a>
    <a href="{% url 'updatetrack' track.id %}"> <button class="btn btn-secondary"> Update</button></a>
  </td>
  </tr>
</tbody>
{% endfor %} 
</table>
{% endblock %}
