{% extends 'admin.html' %} {% block content %}
{% if user.is_admin %} 
<table class="table">
    <thead class="table-dark">
    <tr>
      <th>#</th>
        <th>Created</th>
      <th>Description</th>
      <th>Venue</th>
      <th>Price</th>
      <th>Event Type</th>
      <th>Modify</th>
    </tr>
</thead>
 
{% for tour in tours %}
<tbody>
  <tr>
    <th scope="row">{{forloop.counter}}</th>
    <td>{{tour.created}}</td>
    <td>{{tour.event_description}}</td>
    <td>{{tour.venue}} </td>
    <td>{{tour.price}} </td>
    <td>{{tour.event_type}} </td>
    <td style="display:flex;gap:1vw;">
    <a href="{% url 'update-tour' tour.id %}"> <button class="btn btn-secondary"> Update</button></a>
    <a href="{% url 'delete-tour' tour.id %}"> <button class="btn btn-danger"> Delete</button></a>

  </td>
  </tr>
</tbody>
{% endfor %} 
</table>
{% else %}
<h2>Nothing to show</h2>
{% endif %}
{% endblock %}
