<!-- TODO -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1b6a588cb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
    <title>Admin</title>
</head>
<body>
    <main>
        <section class="administrator">
            <div class="dash_container">
            <div class="dashboard">
            <div class="user">
                <img src="{% static '/images/avatar-ali.png' %}" alt="">
                <p>User Name</p>
            </div>
            <div class="links">
                <div class="main">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Settings</a></li>

                </div>
                <div class="add_links">
                    <ul >
                        <li class="parent">Add Item 
                        <ul class="sub_add">
                            <li><a href="#">Add Outfit</a></li>
                            <li><a href="{% url 'newtour' %}">Add Tour</a></li>
                            <li><a href="{% url 'upload' %}">Add Track</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
                <div class="update_links">
                    <ul >
                        <li class="parent">Edit Item
                        <ul class="sub_add">
                            <li><a href="#">Edit Outfit</a></li>
                            <li><a href="#">Edit Tour</a></li>
                            <li><a href="#">Edit Track</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="logout">
                 <a href="{% url 'logout' %}"><button>Log-out</button></a>
            </div>
            </div>
            </div>
            <div class="user_operations">
                <div class="navigation">
                    <h2>Welcome back {{request.user.username}}!!</h2>
                    <div class="search">
                    <input type="search"><i class="fa-brands fa-searchengin"></i>
                </div>
                </div>
            <div class="form_operations">
 
                  {%  block content %}
                  
                  {% endblock content %}
            </div>
            </div>
        </section>
    </main>
</body>
</html>