<section>
    <div class="faq_contaier">

        <div class="faq">
          
            <h2>FAQS</h2>
            <hr>
            <div class="queries_container">
             
            <div class="question">
                <h3>How does one acquire products?</h3>
                <i class="fa-solid fa-caret-down togglebar"></i>
            </div>
            
            <div class="answer">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis autem nobis reiciendis?
                     Error nostrum quod perspiciatis sint doloribus nesciunt expedita aut sapiente sequi, architecto in voluptatum, saepe exercitationem deserunt!</p>
            </div>
        </div>
        <div class="queries_container">
            <div class="question">
                <h3>How does one acquire products?</h3>
                <i class="fa-solid fa-caret-down togglebar"></i>
            </div>
            <div class="answer">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis autem nobis reiciendis?
                     Error nostrum quod perspiciatis sint doloribus nesciunt expedita aut sapiente sequi, architecto in voluptatum, saepe exercitationem deserunt!</p>
            </div>
            </div>
            <div class="queries_container">
            <div class="question">
                <h3>How does one acquire products?</h3>
                <i class="fa-solid fa-caret-down togglebar"></i>
            </div>
            <div class="answer">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis autem nobis reiciendis?
                     Error nostrum quod perspiciatis sint doloribus nesciunt expedita aut sapiente sequi, architecto in voluptatum, saepe exercitationem deserunt!</p>
            </div>
        </div>
        </div>
        </div>
        
        </div>
    </div>
</section>