

        <div id="contnent">

            <div class="header_content">
                <div class="logo">
                    <h2>Musicality</h2>
                </div>
                <ul class="nav_links">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'tours' %}">Tour</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>

        </div>

