<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1b6a588cb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/shop_nav.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="nav_con">
    <div class="nav_bar">
        <div class="logo">
            <h2>Bwana Chief <small>Official Store</small></h2>
        </div>
        <div class="search_container">
            <a href="#"><button>Sign In</button></a>
        <div class="cart_btn">
            <i class="fa-solid fa-magnifying-glass search" ></i>
            <i class="fa-solid fa-cart-arrow-down "></i>
        </div>
        <div class="search_input">
            <input type="search" placeholder="Search">
        </div>
        </div>
        </div>
    </div>
</main>
</body>
</html>
<main>
