@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
body{
    background: #f4f4f4;
}
a{
    color: aliceblue;
}
.dash_container{
    display: flex;
    position: relative;
}
.dash_container a{
    text-decoration: none;
}

.dashboard{
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(#101c22,#101d24);
    width: 25vw;
}

.user_operations{
margin-left: 24vw;
width: 100%;


}
.dashboard li{
    color: #ddd;
}
.user{
    color: #ddd;  
}
.user h2{
    padding: 1vh 2vw;
    font-weight:900;
    font-size: 4vw;
}
.links{
    padding: 1vh 2vw;
}
.logout{
    position: fixed;
    bottom: 5vh;
    padding: 1vh 2vw;
}
.logout button{
    padding: 1vh 2vw;
    border: none;
    background: transparent;
    font-size: 2vw;
    color: rgb(162, 169, 175);
    box-shadow: 2px 5px 5px #031926a8;
    display: flex;
    justify-content: center;
    align-items: center;
}
button i{
    margin-right: .5vw;
    color: #ddd;
}

.navigation{
    background-color: #fff;
    

}
.cont{
    display: flex;
    justify-content: space-between;
    padding: 2vh 1vw;

}
input[type='search']{
    background: transparent;
    border: 1px solid #101d24;
    width: 20vw;
    padding: .5vh 1.5vw;
    border-radius: .5rem;
    outline: none;
}
.form_operations{

    background: #fff; 
    margin: 5vh 1vw;
    box-shadow: 1px 1px 10px #ddd;
}
form{
    padding: 5vh 1vw;
}
form input[type='text'],input[type='email'],input[type='number']{
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
    padding: .5vh 0;
}
form .buttons{
    display: flex;
    justify-content: space-between;
}
form input[type='submit']{
    padding: .9vh 3vw;
    border-radius: .5rem;
    border: 1px solid #1861d6;
    background: #1861d6;
    color: #fff;
}
form input[type='reset']{
    padding: .9vh 2vw;
    border-radius: .5rem;
    border: 1px solid #ddd;
    background-color: gray;
    color: #fff;
}