@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');

*{
    box-sizing: border-box;
}
.burger{
    display: none;
}
body{
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;

}
img{
    width: 100%;
}
.containerr{
    width: 100%;
    margin: 0 auto;
    padding: 3vh 0;
}
.product_container{
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
    
}
.items{
background: #fff;
display: flex;
flex-direction: column;
padding: 2vh 1vw;

}
.items img{
    max-height: 25vh;
    width: 30vw;
}
.desc h2{
    text-align: left;
    padding: 1vh 0;
    color: #333;
}
.desc hr{
    margin-bottom: 1vh;
    border: none;
    background-color:#ddd;
    height: 1px;
}
.desc h1{
    font-weight: 900;
    font-weight: 5vw;
    color: #333;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.cart button{
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    padding: 1vh 1vw;
}
.cart .view{
    border:1px solid green;
    color: green;
}
#quote .containerr{
    padding: 0;
    
    
}
/* quotes */
.quot_container{
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    transform: translateX(0);
    background-color: #ddd;
}
.quotes{
    padding: 15vh 4vw;
    user-select: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.quote_slide{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.quote_slide i{
    font-size: 3vw;

}
.quote_slide h2{
    font-weight: 900;
}
.quote_slide p{
    color: #333;
}

.quote_slide strong{
    color: black;
    font-weight: 900;
}
small{
    color: #333;
}

