<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/1b6a588cb6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'styles/tour.css'%}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="hero_section">
           {% include 'nav.html' %}
            <div class="hero_content">
                <div class="text">
                    <h2>Musicality</h2>
                    <p>music, art concerned with combining vocal or instrumental sounds for beauty of form or emotional
                        expression, usually according to cultural standards of rhythm, melody, and, in most Western
                        music, harmony. Both the simple folk song
                        and the complex electronic composition belong to the same activity, music</p>
                    <button type="submit">Listen </i></button>
                </div>

            </div>
        </div>
    </header>

    <section id="slideshow">
        <div class="welcomer">
            <h1>MUSIC</h1>
            <p>
                <span class="left"><i class='bx bx-chevron-right bx-flip-horizontal'></i></span>
                <span class="right"><i class='bx bx-chevron-right'></i></span>
            </p>
        </div>
        
        <div class="slider">
            {% for track in tracks %}
            <div class="products">
                <picture>
                   <img src="{{track.track_banner.url}}" alt="banner"> 
                </picture>
                <div class="details">
                    <p>
                        <b>{{ track.title }}</b>
                </div>

                <a href="#">Get it Now</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- TOURS -->
    

    <!-- AFFIRMATION SECTION -->

    <section >
        <div class="container">
            <div class="sub_container">
        <div class="motivation">
            <hr>
            <h2>Get Value for Your money, Quality better than Quantity</h2>
        </div>
        <div class="affirmation_icons">
            
            <div class="flex_icons">
                <div class="icon">
                    <i class="fa-solid fa-people-carry-box"></i>
                </div>
                <div class="icons">
                    <h3>Free Shipping</h3>
                    <p>Get a free tansport for orders over $50</p>
                </div>
            </div>

            <div class="flex_icons">
                <div class="icon">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>
                <div class="icon_description">
                    <h3>Low price Guarantee</h3>
                    <p>Get a good quality at an afforadable price</p>
                </div>
            </div>
            <div class="flex_icons">
                <div class="icon">
                    <i class="fa-regular fa-clock"></i>
                </div>
                <div class="icon_description">
                    <h3>Available 24/7</h3>
                    <p>Get your products any time</p>
                </div>
            </div>

        </div>
    </div>
</div>
    </section>

    <!-- ABOUT  US SECTION -->

    <section>
        <div class="continer">
            <div class="about_description">
                <h3>Delivering quality products for top Companies. Some of our <span class="success">Success stories</span></h3>
            </div>
            <div class="sub_continer">
                <div class="stories">
                    <p>Buy Trusted Brand in the Industry for Computers, Monitors & Technology Solutions Online. Powerful Tech That Fit All Budget. 
                        Laptops with 11th Gen Processor. Buy Now. Make A Payment. View Solutions. View Services.</p>

                        <h3>My Name</h3>
                        <p><i>Product Manager at ABC</i></p>
                        <i class="fa-solid fa-people-group"></i>
                </div>
                <div class="stories">
                    <p>Buy Trusted Brand in the Industry for Computers, Monitors & Technology Solutions Online. Powerful Tech That Fit All Budget. 
                        Laptops with 11th Gen Processor. Buy Now. Make A Payment. View Solutions. View Services.</p>

                        <h3>Her Name</h3>
                        <p><i>Lead Developer at ABC</i></p>
                        <i class="fa-solid fa-person-dress"></i>
                </div>
                <div class="stories">
                    <p>Buy Trusted Brand in the Industry for Computers, Monitors & Technology Solutions Online. Powerful Tech That Fit All Budget. 
                        Laptops with 11th Gen Processor. Buy Now. Make A Payment. View Solutions. View Services.</p>

                        <h3>My Name</h3>
                        <p><i>CTO at ABC</i></p>
                        <i class="fa-solid fa-children"></i>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQS SECTION -->
    {% include 'faq.html'%}

    <!-- GET INTOUCH SECTION -->

    <section>
        <div class="intouch_container">
    <div class="intouch_subcontiner">
        <div class="get_intouch">
            <h2>Get In touch</h2>
            <hr>
        </div>
        <div class="intouch_form">
            <h3>Get In Touch and discover how we can help. We aim to be in touch</h3>
            <form action="">
                <input type="text" name="" id="" placeholder="Enter your name">
                <input type="email" name="" id="" placeholder="Enter valid email address">
                <textarea name="textarea" id="" cols="30" rows="10" placeholder="Enter your message"></textarea>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
    </div>
    </section>
    

    <!-- FOOTER SECTION -->
    {% include 'footer.html' %}
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>