{% load static %}

<link rel="stylesheet" href="{%static 'styles/tour.css'%}">
<link rel="stylesheet" href="{%static 'styles/main.css'%}">
<link rel="stylesheet" href="{% static 'styles/shop.css '%}">

<header>
    {% include 'nav.html' %}
</header>
<section id="products">
    <div class="containerr">
        <div class="product_container">
            {% for item in shopitems %}
            <div class="items">
            <div class="banner">
              <a href="">  <img src="{% static 'images/sumsung.jpg' %}" alt=""></a>
              </div>
              <div class="desc">
                <h2>{{item.name}}</h2>
      
                <a href="#">{{item.price}}</a>
              </div>  
            </div>
            {% endfor %}
          
        </div>
    </div>
  
</section>
<section id="quote">
    <div class="containerr">
        <div class="quot_container">
            <div class="quotes">
                
            </div>
        </div>
    </div>
</section>
<footer>
{% include 'footer.html' %}
</footer>