{% load static %}

<link rel="stylesheet" href="{%static 'styles/tour.css'%}">
<link rel="stylesheet" href="{%static 'styles/main.css'%}">
<link rel="stylesheet" href="{% static 'styles/shop.css '%}">

<header>
    {% include 'nav.html' %}
</header>
<section id="products">
    <div class="containerr">
        <div class="product_container">
            {% for item in shopitems %}
            <div class="items">
            <div class="banner">
              <a href="">  <img src="{% static 'images/sumsung.jpg' %}" alt=""></a>
              </div>
              <div class="desc">
                <h2>{{item.name}}</h2>
      
                <a href="#">{{item.price}}</a>
              </div>  
            </div>
            {% endfor %}
          
        </div>
    </div>
  
</section>
<section id="quote">
    <div class="containerr">
        <div class="quot_container">
            <div class="quotes">
                <div class="quote_slide">
                    <span><i class="fa-solid fa-quote-right"></i></span>
                    <h2>Art Perfection</h2>
                    <p>A designer knows he has achieved perfection not when there's nothing left but when nothing is lef to take away</p>
                    <p><strong>George Hill</strong></p>
                    <small>Artist</small>
            </div>
        </div>
            <div class="quotes">
                <div class="quote_slide">

                <span><i class="fa-solid fa-quote-right"></i></span>
                <h2>Wonderful Designs</h2>
                <p>You can design create and build most Wonderful place in the world. But it takes people to make the dream a reality</p>
                <p><strong>Walt Disney</strong></p>
                <small>Animator</small>
        </div>
        </div>
        <div class="quotes">
            <div class="quote_slide">

            <span><i class="fa-solid fa-quote-right"></i></span>
            <h2>Dressing</h2>
            <p>You can have anything you want in life if you dress for it</p>
            <p><strong>Edith Head</strong></p>
            <small>Designer</small>
    </div>
    </div>

        </div>


    </div>
</section>

<footer>
{% include 'footer.html' %}
</footer>
<script src="{% static 'js/shop.js'%}"></script>